<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">Department List</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SI NO</th>
                  <th>Department Name</th>
                  <th>Created Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dept of deptList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{dept.deptName}}</td>
                    <td>{{dept.createdDate | date:'dd-MMM-YYYY'}}</td>
                    <td>
                        <button  class="btn btn-info">View</button>
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">New Department</div>
      <div class="card-body">
        <div class="row">
            <div class="col-12">
                <label for="">Department Name</label>
                <input type="text" class="form-control" placeholder="department name">
            </div>
            <div class="col-12">
                <label for="">Date Of Creation</label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-6 text-center">
                <button class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-success">Save Dept</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
