<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Ticket_</a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Ticket</span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a  [ngClass]="{'nav-link':true,'active':activeLink==='dashboard'}" routerLink="dashboard" (click)="setActive('dashboard')">Dashboard</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='department'}" routerLink="department" (click)="setActive('department')">Department</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='parent-category'}" routerLink="parent-category" (click)="setActive('parent-category')">Parent Category</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='child-category'}" routerLink="child-category" (click)="setActive('child-category')">Child Category</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='employee'}" routerLink="employee" (click)="setActive('employee')">Employee</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='new-ticket'}" routerLink="new-ticket" (click)="setActive('new-ticket')">New Ticket</a>
          </li>
          <li class="nav-item" >
            <a [ngClass]="{'nav-link':true,'active':activeLink==='ticket-list'}" routerLink="ticket-list" (click)="setActive('ticket-list')">Ticket List</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-primary" type="button" (click)="onLogOff()">LogOff</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet/>